{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Здравствуйте, администратор</h1>
  <p class="lead">Система управления больницей</p>
  <hr class="my-4">
  <p>Получите доступ к различным функциям после входа или регистрации</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">Зарегистрироваться</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Войти</a>
  </p>
</div>

{% endblock content %}
