{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Здравствуйте, доктор</h1>
  <p class="lead">Добро пожаловать в систему управления больницей</p>
  <hr class="my-4">
  <p>Вам будут доступны различные функции после регистрации или входа</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Зарегистрироваться</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Войти</a>
  </p>
</div>

{% endblock content %}
